output-table {
    .mat-mdc-table {
        --col-name: 18%;
        --col-description: 30%;
        --col-tags: 18%;
        --col-type: 12%;
        --col-created: 12%;
        --col-controls: 10%;

        .mat-column-name { width: var(--col-name); }
        .mat-column-description { width: var(--col-description); }
        .mat-column-tagIds { width: var(--col-tags); }
        .mat-column-type { width: var(--col-type); }
        .mat-column-createdAt { width: var(--col-created); }
        .mat-column-controls { width: var(--col-controls); }
    }
}
