ATRIA_ROOT=..
COMPOSE_PROJECT_NAME=atria
ATRIA_IMAGE_TAG=latest
ATRIA_IMAGE_PLATFORM=linux/amd64
ATRIA_FUNCTIONS_ENABLED=false

NATS_USER=natsadmin
NATS_PASS=natsadmin

POSTGRES_DB=Atria
POSTGRES_USER=Atria
POSTGRES_PASSWORD=Atria
PGDATA=/data/postgres
